.cl-1 {
  fill: yellow;
}

.cl-2 {
  x: 100;
  y: 100;
  fill: orange;
}

.cl-3 {
  x: 200;
  y: 150;
  fill: pink;
}

.cl-4 {
  x: 25;
  y: 225;
  fill: purple;
}

.cl-5 {
  x: 190;
  y: 15;
  fill: #30D5C8;
}