.submenu {
    float: left;
    display: block;
    width: 30%;
    height: 150px;
    border: solid black 1px;
}

ul {
    list-style: none;
}

.menu {
    text-align: center;
    width: 65%;
    border: solid black 1px;
    margin-left: 32%;
}

.video {
    height: 250px;
}

@media (max-width: 760px) {
    .bottom-menu{
        padding: 0;
        display: none;
        background: #beb6ee;
    }
    .submenu{
        height: 100%;
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .menu{
        width: 100%;
        margin-left: 0;
    }
    ul li:hover .bottom-menu {
        display: block;
    }
}