body {
    background: url(images/wall1.jpg) no-repeat;
    background-size: 100%;
}
.heading {
    text-align: center;
    color: #E0FFFF;
    font-family: Times New Roman, serif;
}
.abz {
    text-align: center;
    color: purple;
    font-family: Monotype Corsiva;
}
.catchwords {
    color: blueviolet;
}
.id-1 {
    text-align: center;
    color : #FDEAA8;
    font-family: Agency FB, serif;
    font-size: 19px;
}
.id-2 {
    text-align: center;
    color : #FCDD76;
    font-family: Algerian, serif;
    font-size: 20px;
}
.id-3 {
    text-align: center;
    color : #FFA000;
    font-family: Arial, serif;
    font-size: 21px;
}
.sok {
    color: cyan;
}
.id1 {
    color: red;
    font-family: "Times New Roman";
    font-size: 18pt;
}
.id2 {
    color: yellow;
    font-family: "Times New Roman";
    font-size: 20pt;
    list-style-type: square;
}
.id3 {
    color:green;
    font-family: "Times New Roman";
    font-size: 22pt;
    list-style-type: circle;
}
#Tabl tr {
    color: fuchsia;
}
table {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   /* border: 2px solid white; /* Прячем рамку вокруг таблицы */
}
td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid maroon; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}